html {
    background-image: url(../vacation_backdrop.jpg);
    background-size: cover;
    height: 100%;
}

body {
    font-size: 1.1em;
    color: #ffbe38;
    text-shadow: black 1px 1px 1px,
                 black -1px 1px 1px,
                 black -1px -1px 1px,
                 black 1px -1px 1px;
    font-family: 'Raleway', Helvetica;
}

.align_center {
    text-align: center;
}

.question {
    margin-bottom: 0.5em;
}

.button {
    display: inline;
    padding: 0.1em 0.5em;
    border-radius: 12.5px;
    background-color: skyblue;
    transition: background-color, 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: lightgreen;
}

.results_and_selections {
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.random_chooser {
    margin-top: -1%;
}

.result_container {
    display: block;
    padding: 0.25em;
}

.result_container, .selection_container {
    margin-left: 40%;
}

.result, .selection_container {
    padding: 0.2em;
    visibility: hidden;
}

.selection {
    padding: 0.1em 0.5em;
    border-radius: 12.5px;
    background-color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.selection:hover {
    background-color: lightcoral;
}

.returned_result {
    visibility: hidden;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0;
    height: 100%;
    width: 100%;
}

#question_label {
    font-size: 1.1em;
}

#update_selection_error {
    visibility: hidden;
}

#place_result {
    margin-bottom: 0.5%;
}

#description_result {
    margin-top: 0.5%;
}
