.results_and_selections {
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.results_and_selections {
    margin-top: 50px;
}

.random_chooser {
    margin-top: 50px;
}

.result_container {
    display: block;
    padding: 0.25em;
}

.result, .selection_container {
    padding: 0.25em;
    visibility: hidden;
}

.selection {
    padding: 0.2em;
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.5s;
}

.selection:hover {
    background-color: lightcoral;
}

.site_title {
    text-align: center;
}

.returned_result {
    visibility: hidden;
}

#update_selection_error {
    visibility: hidden;
}