.results_and_selections {
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.results_and_selections {
    margin-top: 50px;
}

.random_chooser {
    margin-top: 100px;
}

.result, .selection {
    visibility: hidden;
}

.site_title {
    text-align: center;
}

.returned_result {
    visibility: hidden;
}

#update_selection_error {
    visibility: hidden;
}